<div *ngIf="cartItems.length === 0" class="alert alert-info">Your Card is Empty.</div>
<button type="button" *ngIf="cartTotal === 0" (click)="NullTransaction()" class="btn btn-primary btn-sm">Buy Items</button>

<ul *ngIf="cartItems.length > 0" class="list-group">
    <strong class="mb-2">Added To Cart</strong>
    <li class="list-group-item" *ngFor="let item of cartItems">
        <app-cart-item [cartItem]="item"></app-cart-item>
    </li>

    <li class="list-group-item" style="font-size:small;">
        <strong>Total: ${{ cartTotal }}</strong>
    </li>

    <li class="list-group-item" style="font-size:small;">
        <div *ngIf="cartTotal > 1000" class="alert alert-danger">You don't have enough money</div>
        <button type="button" *ngIf="cartTotal < 1000" (click)="Transaction()" class="btn btn-primary btn-sm">Buy Items</button>
    </li>
</ul>

